# ignore all directories and files
*

# allow directories below
!mr_scripts
!samples
!work
!documents

# allow files below
!*.md
!.gitignore

!*.yml
!Dockerfile*

!mr_scripts/*.sh
!mr_scripts/fonts.conf

!samples/*.R
!samples/*.Rmd
!work/*.R
!work/*.txt
