# ignore all directories and files
*

# allow directories below
!mr_scripts
!samples
!documents

# allow files below
!*.md
!.gitignore
!.dockerignore

!*.yml
!Dockerfile*

!mr_scripts/*.sh
!mr_scripts/fonts.conf

!samples/*.R
!samples/*.Rmd
